<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content class="m-b-0">
        <mat-card-title>Transport</mat-card-title>
        <mat-card-subtitle>All information about transport and other bullshit</mat-card-subtitle>
      </mat-card-content>
      <div class="container" style="margin-bottom: 5px">
        <button mat-stroked-button [matMenuTriggerFor]="actEmporium" color="primary">{{actualEmporium.name}}</button>
        <mat-menu #actEmporium="matMenu">
          <ng-container *ngFor="let emporium of emporiums">
            <button mat-menu-item (click)="changeActualEmporium(emporium)">{{emporium.name}}</button>
          </ng-container>
        </mat-menu>
        <button mat-icon-button color="primary" (click)="addNewEmporium(newEmporiumTemplate)">
          <mat-icon>add_circle_outline</mat-icon></button>
        <button mat-icon-button color="primary" (click)="deleteEmporiumById(confirmDeleteModal, actualEmporium)"
                [disabled]="emporiums.length === 1">
          <mat-icon>clear</mat-icon></button>
      </div>
      <div class="p-l-20 p-r-20 p-b-20">
        <mat-tab-group animationDuration="0ms">
          <!-- Zakładka: Transport -->
          <mat-tab label="Transport">
            <app-mainTransports [actualEmporium]="actualEmporium"
                                (refreshAllTransports)="refreshAllTransportsFromMainTransports($event)">
            </app-mainTransports>
          </mat-tab>

          <!-- Zakładka: Messages -->
          <mat-tab label="Messages">

            <div class="modal-body">
              <mat-slide-toggle [checked]="actualEmporium.isSunday" (change)="changeSundayOption()">Sunday message</mat-slide-toggle>
            </div>

            <div class="">
              <mat-list role="list" *ngFor="let transport of allTransports">
                  <mat-list-item role="listitem" [id]="transport.id+'_sent'"
                                 [ngStyle]="{'background-color': transport.isSent? 'LightGreen' : 'transparent'}">
                    <div class="row col-12">
                      <div class="col">
                        <p style="font-weight: bold">{{transport.address.name}}</p>
                      </div>
                      <div class="col">
                        {{transport.message}}
                      </div>
                      <div class="col text-end">
                        <button class="button" mat-icon-button [cdkCopyToClipboard]="transport.message">
                          <mat-icon>file_copy</mat-icon>
                        </button>
                        <mat-checkbox [checked]="transport.isSent" (change)="changeSendMessage(transport)"></mat-checkbox>
                      </div>

                    </div>
                  </mat-list-item>
              </mat-list>
            </div>

          </mat-tab>

          <!-- Zakładka: Money -->
          <mat-tab label="Money">Content 3</mat-tab>

          <!-- Zakładka: Count products -->
          <mat-tab label="Count products">Content 4</mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</div>

<!-- Template new emporium -->
<ng-template #newEmporiumTemplate let-modal>
  <div class="modal-content" style="align-items: center">
    <div class="modal-body">
      <ngb-datepicker [(ngModel)]="newEmporiumDate"></ngb-datepicker>
      <div>
        <button mat-raised-button color="primary" type="button" (click)="modal.close();">Add new</button>
        <button mat-raised-button color="primary" type="button" (click)="modal.dismiss()" style="float: right">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Template confirm delete -->
<ng-template #confirmDeleteModal let-modal>
  <!-- Niepotrzebny "x" na górze ekranu
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete</h4>
    <button type="button" mat-icon-button (click)="modal.dismiss('Cross click')">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>
  -->
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">"{{tempDeleteInformation}}"</span>?</strong></p>
    <p>All information associated will be permanently deleted. <br>
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <div>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cancel Click')">Cancel</button>
    </div>
  </div>
</ng-template>
