<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- Card column -->
  <div fxFlex.gt-sm="100%" fxFlex="100">
    <mat-card>
      <mat-card-content class="m-b-0">
        <mat-card-title>Transport</mat-card-title>
        <mat-card-subtitle>All information about transport and other bullshit</mat-card-subtitle>

        <div class="">
          <button mat-stroked-button [matMenuTriggerFor]="actEmporium" color="primary">{{actualEmporium.name}}</button>
          <mat-menu #actEmporium="matMenu">
            <ng-container *ngFor="let emporium of emporiums">
              <button mat-menu-item (click)="changeActualEmporium(emporium)">{{emporium.name}}</button>
            </ng-container>
          </mat-menu>
          <button mat-icon-button color="primary" (click)="addNewEmporium(newEmporiumTemplate)">
            <mat-icon>add_circle_outline</mat-icon></button>
          <button mat-icon-button color="primary" (click)="deleteEmporiumById(confirmDeleteModal, actualEmporium)"
                  [disabled]="emporiums.length === 1">
            <mat-icon>clear</mat-icon></button>
        </div>
      </mat-card-content>

      <div class="p-l-20 p-r-20 p-b-20">
        <mat-tab-group animationDuration="0ms">
          <!-- Zakładka: Transport -->
          <mat-tab label="Transport">
            <app-mainTransports [actualEmporium]="actualEmporium"
                                (refreshAllTransports)="changeSundayOption($event)"
                                (refreshCount)="refreshMoney()">
            </app-mainTransports>
          </mat-tab>

          <!-- Zakładka: Messages -->
          <mat-tab label="Messages">
            <app-message-transports [actualEmporium]="actualEmporium" [allTransports]="allTransports"
                                    (sundayOptionEmitter)="refreshAllTransportsFromMainTransports()">
            </app-message-transports>
          </mat-tab>

          <!-- Zakładka: Money -->
          <mat-tab label="Money">
            <app-money-transports [actualEmporium]="actualEmporium"
                                  [allTransports]="allTransports">
            </app-money-transports>
          </mat-tab>

          <!-- Zakładka: Count products -->
          <mat-tab label="Count products">
            <app-products-transport [actualEmporium]="actualEmporium">
            </app-products-transport>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</div>

<!-- Template new emporium -->
<ng-template #newEmporiumTemplate let-modal>
  <div class="modal-content" style="align-items: center">
    <div class="modal-body">
      <ngb-datepicker [(ngModel)]="newEmporiumDate"></ngb-datepicker>
      <div>
        <button mat-raised-button color="primary" type="button" (click)="modal.close();">Add new</button>
        <button mat-raised-button color="primary" type="button" (click)="modal.dismiss()" style="float: right">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Template confirm delete -->
<ng-template #confirmDeleteModal let-modal>
  <!-- Niepotrzebny "x" na górze ekranu
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete</h4>
    <button type="button" mat-icon-button (click)="modal.dismiss('Cross click')">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>
  -->
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">"{{tempDeleteInformation}}"</span>?</strong></p>
    <p>All information associated will be permanently deleted. <br>
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <div>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cancel Click')">Cancel</button>
    </div>
  </div>
</ng-template>
