.deleteCountButton{
  line-height: 18px;
  height: auto;
  width: auto;
}

.deleteTransportButton {
  color: red;
}

.drag-box {
}

.drag-box:last-child {
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

